<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z7KCS1HN5Y"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Z7KCS1HN5Y');
</script>

<!-- Hidden custom analytics snippet -->
<div style="display: none;">
    <!-- start custom analytics snippet -->
    <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=PhFUkgJ455UwNtf_qhRRXH6U4tho8Btt3o6bMocv_6U"></script>
    <!-- end custom analytics snippet -->
</div>